<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests" verbose="3">
<!-- Start -->
  <test name="Chrome" parallel="methods" thread-count="2">
  <parameter name="browser" value="chrome"/>
  <classes>
  <class name =""/>
  </classes>
  
  </test> <!-- End First Test -->
  
  <!-- Start -->
  <test name="IE" parallel="methods" thread-count="2">
  <parameter name="browser" value=""/>
  <classes>
  <class name =""/>
  </classes>
  </test> <!-- End First Test -->
</suite> <!-- Suite -->
